.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login__register {
    display: flex;
    align-items: center;
    gap: 30px;
}

.login form {
    width: 25%;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
}

.login input[type="submit"],
.login input[type="button"]{
    width: 100%;
    margin-top: 10px;
}


button{
    background: linear-gradient(to bottom, #72a2d4, #4a8ac5);
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


